In [1]:
import mysql.connector 
mysqldb=mysql.connector.connect(host="localhost",user="root",password="2022.")    
mycursor=mysqldb.cursor()  
mycursor.execute("create database dbpython")   
mysqldb.close()

DatabaseError: 1007 (HY000): Can't create database 'dbpython'; database exists

create table

In [4]:
import mysql.connector  
mysqldb=mysql.connector.connect(host="localhost",user="root",password="2022.",database="dbpython")   
mycursor=mysqldb.cursor()
mycursor.execute("create table student(roll INT,name VARCHAR(255), marks INT)")  
mysqldb.close()

insert

In [2]:
import mysql.connector  
mysqldb=mysql.connector.connect(host="localhost",user="root",password="2022.",database="dbpython")  
mycursor=mysqldb.cursor()#cursor() method create a cursor object    
try:    
   mycursor.execute("insert into student values(1,'Sorit',80),(2,'Kumar',89),(3,'Susmita',90)")  
   mysqldb.commit() # Commit is used for your changes in the database  
   print('Record inserted successfully...')   
except:     
   mysqldb.rollback()  
mysqldb.close()

Record inserted successfully...

read

In [3]:
import mysql.connector  
mysqldb=mysql.connector.connect(host="localhost",user="root",password="2022.",database="dbpython")  
mycursor=mysqldb.cursor() 
try:  
   mycursor.execute("select * from student")  
   result=mycursor.fetchall()   
   for i in result:    
      roll=i[0]  
      name=i[1]  
      marks=i[2]  
      print(roll,name,marks)  
except:   
   print('Error:Unable to fetch data.')  
mysqldb.close()

1 Ramu 100
3 Susmita 90
1 Sorit 80
2 Kumar 89
3 Susmita 90

update

In [10]:
import mysql.connector  
mysqldb=mysql.connector.connect(host="localhost",user="root",password="2022.",database="dbpython") 
mycursor=mysqldb.cursor()
try:  
   mycursor.execute("UPDATE student SET name='Ramu', marks=100 WHERE roll=1")
   mysqldb.commit()   
   print('Record updated successfully...')   
except:     
   mysqldb.rollback()  
mysqldb.close()#Connecti

Record updated successfully...

In [11]:
import mysql.connector   
mysqldb=mysql.connector.connect(host="localhost",user="root",password="2022.",database="dbpython") 
mycursor=mysqldb.cursor()   
try:   
   mycursor.execute("DELETE FROM student WHERE roll=2")   
   mysqldb.commit()  
   print('Record deteted successfully...')  
except:    
   mysqldb.rollback()  
mysqldb.close()

Record deteted successfully...